body {
  background: #ffffff;
}

.wrapper {
  padding: 2rem;
}

.audio-wrapper {
  margin: 0 0 2rem 0;
}

.audio {
  width: 100%;
}
.audio::-webkit-media-controls-panel {
  background: white;
}

.toolbar {
  text-align: center;
}

.button {
  transition: all .4s ease-in-out;
  position: inline-block;
  padding: .6rem 1rem;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  outline: none;
  text-transform: uppercase;
  color: #B5B4B9;
}
.button--start:hover {
  background: #6ABB5C;
  border-color: #5ab34b;
  color: #ffffff;
}
.button--stop:hover {
  background: #4FABE4;
  border-color: #39a0e1;
  color: #ffffff;
}